@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
}

.Controls {
    padding-top: 10%;
    width: 50%;
    margin: auto;
}

.RecordHolder {
    background-color: black;
    color: aliceblue;
    height: 90%;
    padding: 10px;
    margin: 2px;
    border: none;
    border: none;
    font-size: larger;
    vertical-align: central;
    display: inline-block;
    width: 16.9%;
    margin-left: 0.1%;
}

.Controls button {
    display: inline-block;
    background-color: #23395bf6;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: larger;
    vertical-align: central;
    height: 90%;
}

.ControlButton {
    width: 80%;
    margin: 2px;
    margin-right: 0.1%;
    margin-left: 0.1%;
}

.QueryButton {
    margin: 50px 2px;
    width: 100%;
}

.AuthButton {
    margin: 5px 2px;
    width: 100%;
}

.AuthButtons {
    vertical-align: top;
}
